.form {
  width: 100%;
  max-width: 1200px;

  .label {
    .labelText {
      display: flex;
      align-items: center;
      height: 44px;
      padding-left: 8px;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
    }

    .input {
      width: 100%;
      height: 44px;
      line-height: 44px;
    }

    .inputError {
      margin-top: 10px;
      padding-left: 8px;
      color: red;
    }
  }

  .buttonContainer {
    display: flex;
    margin: 16px 0;
  }
}
