html,
body,
#root {
  height: 100%;
  color: #333;
}

:focus {
  outline: none;
}

body {
  position: relative;
  overflow-x: hidden;
  font-size: 16px;
  background: #323131;
}

p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
